POSChangeCalculator/bin/Debug/net5.0/POSChangeCalculator.dll
POSChangeCalculator/bin/Debug/net5.0/POSChangeCalculator.pdb
POSChangeCalculator/bin/Debug/net5.0/ref/POSChangeCalculator.dll
POSChangeCalculator/obj/Debug/net5.0/POSChangeCalculator.dll
POSChangeCalculator/obj/Debug/net5.0/ref/POSChangeCalculator.dll
